
.footer.container {
    overflow:hidden;
    color:#fff;
    clear:both;
    font-size:16px;
    font-family:'dinR';
   }
   .footer.container ul {
    text-decoration:none;
    list-style:none;
    margin-left:0;
   }
   .footer.container ul li ul li a {
    padding-left:0px;
    padding-bottom:8px;
   }
   .footer.container a {
    color:#fff;
    font-size:16px;
   }
   .footer.container a:hover {
    color:#8ca9c7;
   }
   .footer.container .f_Content {
    max-width:1230px;
    margin:0 auto;
    padding:40px 50px;
    overflow:hidden;
   }
   .footer.container .f_Content div.f_col {
    width:22%;
    float:left;
    margin-right:4%;
   }
   .footer.container .f_Content .footerLogo.f_col {
    margin-left:0;
   }
   .footer.container .f_Content .footerLogo.f_col .footerLogo {
    text-align:right;
    padding-top:0px;
   }
   .footer.container .f_Content .footerLogo.f_col {
    max-width:173px;
   }
   .footer.container .f_Content .fdetail a {
    color:#fff;
    font-size:17px;
    display:inline;
   }
   .footer.container .f_Content p {
    margin:0px;
    padding:0;
    display:block;
    padding-bottom:3px;
    font-family:'dinR';
    font-size:17px;
    color:#FFFFFF;
    letter-spacing:0.5px;
    line-height:25px;
   }
   .footer.container .f_Content div.fhead {
    margin-bottom:20px;
    font-family:'dinB';
    font-size:15px;
    color:#FFFFFF;
    letter-spacing:3.5px;
    line-height:21px;
    text-transform:uppercase;
   }
   .footer.container .f_copyright {
    position:relative;
    width:100%;
    clear:both;
    overflow:hidden;
    font-size:12px;
   }
   .footer.container .f_copyright ul.right {
    float:none !important;
    max-width:1230px;
    margin:auto;
    font-size:13px;
    padding:20px 50px 20px 50px;
   }
   .footer.container .footerCopyRight ul.right {
    float:none !important;
    margin-bottom:0px;
    margin-top:30px;
    text-align:left;
    clear:both;
    overflow:hidden;
    display:inline-block;
    width:100%;
   }

