#leistung:hover{
    font-size: 16px;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}

#uns:hover{
    font-size: 16px;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}

#contact:hover{
    font-size: 16px;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}

#home{
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}


.tile-container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: stretch;
    align-items: stretch;
    margin: 4% 30% 10% 30%;
}

.tile-element{
    padding-left: 5%;
    padding-bottom: 1%;
    
    border: 2px solid black;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    margin: 0 12px 24px;
    flex-flow: row wrap;
    align-content: flex-start;
}



/*Slider
.slider{
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10vh;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}
*/

#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
    
    animation: 9s slider infinite;
}



#slider figure:hover {
	animation-play-state: paused; 
}

#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}

.navi-manual{
    width: 100%;
    position: absolute;
    margin-top: -2%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.manual-btn{
    border: 2px solid var(--maincolor);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--maincolor);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}