#home:hover{
    font-size: 16px;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}

#uns:hover{
    font-size: 16px;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}

#contact:hover{
    font-size: 16px;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}

#leistung{
    color: var(--maincolor);
    background-color: white;
    align-items: center;
    border-bottom: 2px solid var(--maincolor);
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.2);
}